@use '../../../global/' as *;

.logo {
  margin-left: 10px;
  font-family: monospace;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
}

.right-box {
  margin: 0 0 0 auto;

  button {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.bottom-box {
  .bottom-box-btn {
    padding-top: 0;
    color: #fff;
  }
}

.btn-white {
  font-weight: bold;
  color: #fff;

  &:hover {
    color: $color-primary;
    background-color: #fff;
  }
}

.btn-outlined-white {
  font-weight: bold;
  color: #fff;
  border-color: #fff;

  &:hover {
    color: $color-primary;
    background-color: #fff;
  }
}
